<div class="container-fluid" id="login">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-wrap">
				<h1>Login</h1>
				<div class="alert alert-danger" ng-show="authenticationError">
            		Authentication failed. {{errorMessage}}
            	</div>
				<form role="form" ng-submit="login($event)" ng-show="!success" novalidate
					autocomplete="off" name="form">
					<div class="form-group">
						<label for="email" class="sr-only">Email</label> <input
							type="email" name="email" id="email"
							class="form-control" placeholder="E-mail" ng-model="username" required />
					</div>
					<div class="form-group">
						<label for="password" class="sr-only">Password</label> <input
							type="password" name="password" id="password" class="form-control"
							placeholder="Password" ng-model="password" required/>
					</div>
					<div class="checkbox">
						<label for="remember-me"> <input id="remember-me" type="checkbox" name="remember-me" ng-model="rememberMe"> Remember me
						</label>
					</div>
					<button type="submit" id="btn-login" ng-disabled="form.$invalid" class="btn btn-primary btn-md">Log In</button>

					<div class="login-suggest" >
						Don't have an account? Please <a ui-sref="register">sign up</a>.
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
